body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1535px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u30 {
  border-width:0px;
  position:absolute;
  left:169px;
  top:86px;
  width:533px;
  height:236px;
}
#u31_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:30px;
}
#u31 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:30px;
}
#u31_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:167px;
  word-wrap:break-word;
}
#u32_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:362px;
  height:30px;
}
#u32 {
  border-width:0px;
  position:absolute;
  left:171px;
  top:0px;
  width:362px;
  height:30px;
}
#u32_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:358px;
  word-wrap:break-word;
}
#u33_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:52px;
}
#u33 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:171px;
  height:52px;
}
#u33_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:167px;
  word-wrap:break-word;
}
#u34_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:362px;
  height:52px;
}
#u34 {
  border-width:0px;
  position:absolute;
  left:171px;
  top:30px;
  width:362px;
  height:52px;
}
#u34_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:358px;
  word-wrap:break-word;
}
#u35_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:30px;
}
#u35 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:82px;
  width:171px;
  height:30px;
}
#u35_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:167px;
  word-wrap:break-word;
}
#u36_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:362px;
  height:30px;
}
#u36 {
  border-width:0px;
  position:absolute;
  left:171px;
  top:82px;
  width:362px;
  height:30px;
}
#u36_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:358px;
  word-wrap:break-word;
}
#u37_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:42px;
}
#u37 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:112px;
  width:171px;
  height:42px;
}
#u37_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:167px;
  word-wrap:break-word;
}
#u38_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:362px;
  height:42px;
}
#u38 {
  border-width:0px;
  position:absolute;
  left:171px;
  top:112px;
  width:362px;
  height:42px;
  text-align:left;
}
#u38_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:358px;
  word-wrap:break-word;
}
#u39_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:82px;
}
#u39 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:154px;
  width:171px;
  height:82px;
}
#u39_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:33px;
  width:167px;
  word-wrap:break-word;
}
#u40_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:362px;
  height:82px;
}
#u40 {
  border-width:0px;
  position:absolute;
  left:171px;
  top:154px;
  width:362px;
  height:82px;
  text-align:left;
}
#u40_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:358px;
  word-wrap:break-word;
}
#u41_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1366px;
  height:639px;
}
#u41 {
  border-width:0px;
  position:absolute;
  left:169px;
  top:638px;
  width:1366px;
  height:639px;
}
#u41_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u42 {
  border-width:0px;
  position:absolute;
  left:169px;
  top:593px;
  width:73px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u42_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u43_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u43 {
  border-width:0px;
  position:absolute;
  left:169px;
  top:368px;
  width:133px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u43_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  white-space:nowrap;
}
#u44_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:85px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u44 {
  border-width:0px;
  position:absolute;
  left:169px;
  top:422px;
  width:162px;
  height:85px;
}
#u44_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:34px;
  width:158px;
  word-wrap:break-word;
}
#u45_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:85px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u45 {
  border-width:0px;
  position:absolute;
  left:374px;
  top:422px;
  width:162px;
  height:85px;
}
#u45_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:34px;
  width:158px;
  word-wrap:break-word;
}
#u46_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:85px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u46 {
  border-width:0px;
  position:absolute;
  left:586px;
  top:422px;
  width:162px;
  height:85px;
}
#u46_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:34px;
  width:158px;
  word-wrap:break-word;
}
#u47_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:85px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u47 {
  border-width:0px;
  position:absolute;
  left:801px;
  top:422px;
  width:162px;
  height:85px;
}
#u47_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:26px;
  width:158px;
  word-wrap:break-word;
}
#u48 {
  border-width:0px;
  position:absolute;
  left:331px;
  top:465px;
  width:0px;
  height:0px;
}
#u48_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:47px;
  height:8px;
}
#u48_seg1 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:-9px;
  width:19px;
  height:18px;
}
#u48_text {
  border-width:0px;
  position:absolute;
  left:-28px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49 {
  border-width:0px;
  position:absolute;
  left:536px;
  top:465px;
  width:0px;
  height:0px;
}
#u49_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:54px;
  height:8px;
}
#u49_seg1 {
  border-width:0px;
  position:absolute;
  left:37px;
  top:-9px;
  width:19px;
  height:18px;
}
#u49_text {
  border-width:0px;
  position:absolute;
  left:-25px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u50 {
  border-width:0px;
  position:absolute;
  left:748px;
  top:465px;
  width:0px;
  height:0px;
}
#u50_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:57px;
  height:8px;
}
#u50_seg1 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:-9px;
  width:19px;
  height:18px;
}
#u50_text {
  border-width:0px;
  position:absolute;
  left:-24px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u51_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:85px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u51 {
  border-width:0px;
  position:absolute;
  left:1014px;
  top:422px;
  width:162px;
  height:85px;
}
#u51_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:34px;
  width:158px;
  word-wrap:break-word;
}
#u52_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:85px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u52 {
  border-width:0px;
  position:absolute;
  left:1231px;
  top:422px;
  width:162px;
  height:85px;
}
#u52_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:34px;
  width:158px;
  word-wrap:break-word;
}
#u53 {
  border-width:0px;
  position:absolute;
  left:963px;
  top:465px;
  width:0px;
  height:0px;
}
#u53_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:55px;
  height:8px;
}
#u53_seg1 {
  border-width:0px;
  position:absolute;
  left:38px;
  top:-9px;
  width:19px;
  height:18px;
}
#u53_text {
  border-width:0px;
  position:absolute;
  left:-24px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u54 {
  border-width:0px;
  position:absolute;
  left:1176px;
  top:465px;
  width:0px;
  height:0px;
}
#u54_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:59px;
  height:8px;
}
#u54_seg1 {
  border-width:0px;
  position:absolute;
  left:42px;
  top:-9px;
  width:19px;
  height:18px;
}
#u54_text {
  border-width:0px;
  position:absolute;
  left:-22px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
