body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:2763px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1884_img {
  position:absolute;
  left:0px;
  top:0px;
  width:606px;
  height:1281px;
}
#u1884 {
  position:absolute;
  left:826px;
  top:194px;
  width:606px;
  height:1281px;
}
#u1885 {
  position:absolute;
  left:2px;
  top:632px;
  width:602px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1886_div {
  position:absolute;
  left:0px;
  top:0px;
  width:548px;
  height:973px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:48px;
  color:#F2F2F2;
}
#u1886 {
  position:absolute;
  left:855px;
  top:348px;
  width:548px;
  height:973px;
  font-size:48px;
  color:#F2F2F2;
}
#u1887 {
  position:absolute;
  left:2px;
  top:478px;
  width:544px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1888_img {
  position:absolute;
  left:0px;
  top:0px;
  width:606px;
  height:1281px;
}
#u1888 {
  position:absolute;
  left:1490px;
  top:193px;
  width:606px;
  height:1281px;
}
#u1889 {
  position:absolute;
  left:2px;
  top:632px;
  width:602px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1890_div {
  position:absolute;
  left:0px;
  top:0px;
  width:548px;
  height:973px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:48px;
  color:#F2F2F2;
}
#u1890 {
  position:absolute;
  left:1519px;
  top:347px;
  width:548px;
  height:973px;
  font-size:48px;
  color:#F2F2F2;
}
#u1891 {
  position:absolute;
  left:2px;
  top:478px;
  width:544px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1892_div {
  position:absolute;
  left:0px;
  top:0px;
  width:548px;
  height:81px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1892 {
  position:absolute;
  left:1520px;
  top:1238px;
  width:548px;
  height:81px;
}
#u1893 {
  position:absolute;
  left:2px;
  top:32px;
  width:544px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1894_div {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:49px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:24px;
  color:#868686;
}
#u1894 {
  position:absolute;
  left:1592px;
  top:1252px;
  width:66px;
  height:49px;
  font-size:24px;
  color:#868686;
}
#u1895 {
  position:absolute;
  left:2px;
  top:10px;
  width:62px;
  word-wrap:break-word;
}
#u1896_div {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:49px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:24px;
  color:#868686;
}
#u1896 {
  position:absolute;
  left:1920px;
  top:1254px;
  width:66px;
  height:49px;
  font-size:24px;
  color:#868686;
}
#u1897 {
  position:absolute;
  left:2px;
  top:10px;
  width:62px;
  word-wrap:break-word;
}
#u1898_div {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:49px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:24px;
  color:#868686;
}
#u1898 {
  position:absolute;
  left:1760px;
  top:1252px;
  width:66px;
  height:49px;
  font-size:24px;
  color:#868686;
}
#u1899 {
  position:absolute;
  left:2px;
  top:10px;
  width:62px;
  word-wrap:break-word;
}
#u1900_img {
  position:absolute;
  left:0px;
  top:0px;
  width:548px;
  height:292px;
}
#u1900 {
  position:absolute;
  left:1519px;
  top:1027px;
  width:548px;
  height:292px;
}
#u1901 {
  position:absolute;
  left:2px;
  top:138px;
  width:544px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1902_img {
  position:absolute;
  left:0px;
  top:0px;
  width:548px;
  height:294px;
}
#u1902 {
  position:absolute;
  left:1519px;
  top:1025px;
  width:548px;
  height:294px;
}
#u1903 {
  position:absolute;
  left:2px;
  top:139px;
  width:544px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1904_img {
  position:absolute;
  left:0px;
  top:0px;
  width:606px;
  height:1281px;
}
#u1904 {
  position:absolute;
  left:2157px;
  top:193px;
  width:606px;
  height:1281px;
}
#u1905 {
  position:absolute;
  left:2px;
  top:632px;
  width:602px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1906_div {
  position:absolute;
  left:0px;
  top:0px;
  width:548px;
  height:973px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:48px;
  color:#F2F2F2;
}
#u1906 {
  position:absolute;
  left:2186px;
  top:347px;
  width:548px;
  height:973px;
  font-size:48px;
  color:#F2F2F2;
}
#u1907 {
  position:absolute;
  left:2px;
  top:478px;
  width:544px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1908_img {
  position:absolute;
  left:0px;
  top:0px;
  width:548px;
  height:383px;
}
#u1908 {
  position:absolute;
  left:2186px;
  top:934px;
  width:548px;
  height:383px;
}
#u1909 {
  position:absolute;
  left:2px;
  top:184px;
  width:544px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1910_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:128px;
  background:inherit;
  background-color:rgba(171, 180, 189, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
}
#u1910 {
  position:absolute;
  left:2637px;
  top:1174px;
  width:80px;
  height:128px;
  font-size:28px;
}
#u1911 {
  position:absolute;
  left:2px;
  top:48px;
  width:76px;
  word-wrap:break-word;
}
#u1912_div {
  position:absolute;
  left:0px;
  top:0px;
  width:548px;
  height:84px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1912 {
  position:absolute;
  left:855px;
  top:347px;
  width:548px;
  height:84px;
}
#u1913 {
  position:absolute;
  left:2px;
  top:34px;
  width:544px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1914_div {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:47px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:60px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  color:#666666;
}
#u1914 {
  position:absolute;
  left:1254px;
  top:364px;
  width:131px;
  height:47px;
  font-size:28px;
  color:#666666;
}
#u1915 {
  position:absolute;
  left:2px;
  top:16px;
  width:127px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1916_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:27px;
}
#u1916 {
  position:absolute;
  left:1339px;
  top:375px;
  width:27px;
  height:27px;
}
#u1917 {
  position:absolute;
  left:2px;
  top:6px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1918_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u1918 {
  position:absolute;
  left:1275px;
  top:384px;
  width:10px;
  height:10px;
}
#u1919 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1920_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u1920 {
  position:absolute;
  left:1305px;
  top:384px;
  width:10px;
  height:10px;
}
#u1921 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1922_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:13px;
}
#u1922 {
  position:absolute;
  left:1289px;
  top:382px;
  width:13px;
  height:13px;
}
#u1923 {
  position:absolute;
  left:2px;
  top:-2px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1924_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:17px;
}
#u1924 {
  position:absolute;
  left:1344px;
  top:380px;
  width:17px;
  height:17px;
}
#u1925 {
  position:absolute;
  left:2px;
  top:0px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1926_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u1926 {
  position:absolute;
  left:1098px;
  top:371px;
  width:57px;
  height:33px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u1927 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1928_div {
  position:absolute;
  left:0px;
  top:0px;
  width:548px;
  height:84px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1928 {
  position:absolute;
  left:1519px;
  top:346px;
  width:548px;
  height:84px;
}
#u1929 {
  position:absolute;
  left:2px;
  top:34px;
  width:544px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1930_div {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:47px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:60px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  color:#666666;
}
#u1930 {
  position:absolute;
  left:1918px;
  top:363px;
  width:131px;
  height:47px;
  font-size:28px;
  color:#666666;
}
#u1931 {
  position:absolute;
  left:2px;
  top:16px;
  width:127px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1932_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:27px;
}
#u1932 {
  position:absolute;
  left:2003px;
  top:374px;
  width:27px;
  height:27px;
}
#u1933 {
  position:absolute;
  left:2px;
  top:6px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1934_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u1934 {
  position:absolute;
  left:1939px;
  top:383px;
  width:10px;
  height:10px;
}
#u1935 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1936_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u1936 {
  position:absolute;
  left:1969px;
  top:383px;
  width:10px;
  height:10px;
}
#u1937 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1938_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:13px;
}
#u1938 {
  position:absolute;
  left:1953px;
  top:381px;
  width:13px;
  height:13px;
}
#u1939 {
  position:absolute;
  left:2px;
  top:-2px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1940_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:17px;
}
#u1940 {
  position:absolute;
  left:2008px;
  top:379px;
  width:17px;
  height:17px;
}
#u1941 {
  position:absolute;
  left:2px;
  top:0px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1942_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u1942 {
  position:absolute;
  left:1756px;
  top:370px;
  width:57px;
  height:33px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u1943 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1944_div {
  position:absolute;
  left:0px;
  top:0px;
  width:548px;
  height:84px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1944 {
  position:absolute;
  left:2186px;
  top:346px;
  width:548px;
  height:84px;
}
#u1945 {
  position:absolute;
  left:2px;
  top:34px;
  width:544px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1946_div {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:47px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:60px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  color:#666666;
}
#u1946 {
  position:absolute;
  left:2585px;
  top:363px;
  width:131px;
  height:47px;
  font-size:28px;
  color:#666666;
}
#u1947 {
  position:absolute;
  left:2px;
  top:16px;
  width:127px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1948_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:27px;
}
#u1948 {
  position:absolute;
  left:2670px;
  top:374px;
  width:27px;
  height:27px;
}
#u1949 {
  position:absolute;
  left:2px;
  top:6px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1950_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u1950 {
  position:absolute;
  left:2606px;
  top:383px;
  width:10px;
  height:10px;
}
#u1951 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1952_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u1952 {
  position:absolute;
  left:2636px;
  top:383px;
  width:10px;
  height:10px;
}
#u1953 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1954_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:13px;
}
#u1954 {
  position:absolute;
  left:2620px;
  top:381px;
  width:13px;
  height:13px;
}
#u1955 {
  position:absolute;
  left:2px;
  top:-2px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1956_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:17px;
}
#u1956 {
  position:absolute;
  left:2675px;
  top:379px;
  width:17px;
  height:17px;
}
#u1957 {
  position:absolute;
  left:2px;
  top:0px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1958_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u1958 {
  position:absolute;
  left:2431px;
  top:370px;
  width:57px;
  height:33px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u1959 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1960_div {
  position:absolute;
  left:0px;
  top:0px;
  width:272px;
  height:58px;
  background:inherit;
  background-color:rgba(188, 188, 188, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u1960 {
  position:absolute;
  left:1113px;
  top:433px;
  width:272px;
  height:58px;
  font-size:20px;
}
#u1961 {
  position:absolute;
  left:2px;
  top:17px;
  width:268px;
  word-wrap:break-word;
}
#u1962_div {
  position:absolute;
  left:0px;
  top:0px;
  width:277px;
  height:58px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u1962 {
  position:absolute;
  left:867px;
  top:433px;
  width:277px;
  height:58px;
  font-size:20px;
}
#u1963 {
  position:absolute;
  left:2px;
  top:17px;
  width:273px;
  word-wrap:break-word;
}
#u1964_div {
  position:absolute;
  left:0px;
  top:0px;
  width:548px;
  height:185px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1964 {
  position:absolute;
  left:855px;
  top:825px;
  width:548px;
  height:185px;
}
#u1965 {
  position:absolute;
  left:2px;
  top:84px;
  width:544px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1966_div {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1966 {
  position:absolute;
  left:1237px;
  top:854px;
  width:114px;
  height:37px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1967 {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  white-space:nowrap;
}
#u1968_div {
  position:absolute;
  left:0px;
  top:0px;
  width:473px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#AEAEAE;
  text-align:left;
}
#u1968 {
  position:absolute;
  left:890px;
  top:947px;
  width:473px;
  height:45px;
  font-size:20px;
  color:#AEAEAE;
  text-align:left;
}
#u1969 {
  position:absolute;
  left:2px;
  top:10px;
  width:469px;
  word-wrap:break-word;
}
#u1970_img {
  position:absolute;
  left:0px;
  top:0px;
  width:479px;
  height:2px;
}
#u1970 {
  position:absolute;
  left:890px;
  top:926px;
  width:478px;
  height:1px;
}
#u1971 {
  position:absolute;
  left:2px;
  top:-8px;
  width:474px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1972_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:39px;
}
#u1972 {
  position:absolute;
  left:901px;
  top:855px;
  width:33px;
  height:39px;
}
#u1973 {
  position:absolute;
  left:2px;
  top:12px;
  width:29px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1974_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:24px;
}
#u1974 {
  position:absolute;
  left:953px;
  top:859px;
  width:49px;
  height:28px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:24px;
}
#u1975 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u1976_div {
  position:absolute;
  left:0px;
  top:0px;
  width:548px;
  height:81px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1976 {
  position:absolute;
  left:855px;
  top:1240px;
  width:548px;
  height:81px;
}
#u1977 {
  position:absolute;
  left:2px;
  top:32px;
  width:544px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1978_div {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:49px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:24px;
  color:#000000;
}
#u1978 {
  position:absolute;
  left:927px;
  top:1254px;
  width:66px;
  height:49px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:24px;
  color:#000000;
}
#u1979 {
  position:absolute;
  left:2px;
  top:10px;
  width:62px;
  word-wrap:break-word;
}
#u1980_div {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:49px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:24px;
  color:#AEAEAE;
}
#u1980 {
  position:absolute;
  left:1255px;
  top:1256px;
  width:66px;
  height:49px;
  font-size:24px;
  color:#AEAEAE;
}
#u1981 {
  position:absolute;
  left:2px;
  top:10px;
  width:62px;
  word-wrap:break-word;
}
#u1982_div {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:49px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:24px;
  color:#AEAEAE;
}
#u1982 {
  position:absolute;
  left:1095px;
  top:1254px;
  width:66px;
  height:49px;
  font-size:24px;
  color:#AEAEAE;
}
#u1983 {
  position:absolute;
  left:2px;
  top:10px;
  width:62px;
  word-wrap:break-word;
}
#u1984_div {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#E4E4E4;
}
#u1984 {
  position:absolute;
  left:1069px;
  top:1186px;
  width:121px;
  height:24px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#E4E4E4;
}
#u1985 {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  white-space:nowrap;
}
#u1986_div {
  position:absolute;
  left:0px;
  top:0px;
  width:479px;
  height:64px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:24px;
  color:#FFFFFF;
}
#u1986 {
  position:absolute;
  left:886px;
  top:1038px;
  width:479px;
  height:64px;
  font-size:24px;
  color:#FFFFFF;
}
#u1987 {
  position:absolute;
  left:2px;
  top:18px;
  width:475px;
  word-wrap:break-word;
}
#u1988 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1989_div {
  position:absolute;
  left:0px;
  top:0px;
  width:548px;
  height:81px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1989 {
  position:absolute;
  left:855px;
  top:1157px;
  width:548px;
  height:81px;
}
#u1990 {
  position:absolute;
  left:2px;
  top:32px;
  width:544px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1991_div {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:49px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:24px;
  color:#868686;
}
#u1991 {
  position:absolute;
  left:927px;
  top:1171px;
  width:66px;
  height:49px;
  font-size:24px;
  color:#868686;
}
#u1992 {
  position:absolute;
  left:2px;
  top:10px;
  width:62px;
  word-wrap:break-word;
}
#u1993_div {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:49px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:24px;
  color:#868686;
}
#u1993 {
  position:absolute;
  left:1255px;
  top:1173px;
  width:66px;
  height:49px;
  font-size:24px;
  color:#868686;
}
#u1994 {
  position:absolute;
  left:2px;
  top:10px;
  width:62px;
  word-wrap:break-word;
}
#u1995_div {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:49px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:24px;
  color:#868686;
}
#u1995 {
  position:absolute;
  left:1095px;
  top:1171px;
  width:66px;
  height:49px;
  font-size:24px;
  color:#868686;
}
#u1996 {
  position:absolute;
  left:2px;
  top:10px;
  width:62px;
  word-wrap:break-word;
}
#u1997_img {
  position:absolute;
  left:0px;
  top:0px;
  width:548px;
  height:292px;
}
#u1997 {
  position:absolute;
  left:854px;
  top:1029px;
  width:548px;
  height:292px;
}
#u1998 {
  position:absolute;
  left:2px;
  top:138px;
  width:544px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1999_div {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:148px;
  background:inherit;
  background-color:rgba(121, 121, 121, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  color:#FFFFFF;
}
#u1999 {
  position:absolute;
  left:1267px;
  top:1174px;
  width:135px;
  height:148px;
  font-size:28px;
  color:#FFFFFF;
}
#u2000 {
  position:absolute;
  left:2px;
  top:58px;
  width:131px;
  word-wrap:break-word;
}
#u2001_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:13px;
}
#u2001 {
  position:absolute;
  left:1184px;
  top:1297px;
  width:23px;
  height:13px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
  color:#6B6B6B;
}
#u2002 {
  position:absolute;
  left:2px;
  top:-2px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2003_div {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:39px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:24px;
  color:#6B6B6B;
}
#u2003 {
  position:absolute;
  left:1168px;
  top:1258px;
  width:56px;
  height:39px;
  font-size:24px;
  color:#6B6B6B;
}
#u2004 {
  position:absolute;
  left:2px;
  top:6px;
  width:52px;
  word-wrap:break-word;
}
#u2005_img {
  position:absolute;
  left:0px;
  top:0px;
  width:606px;
  height:1281px;
}
#u2005 {
  position:absolute;
  left:160px;
  top:193px;
  width:606px;
  height:1281px;
}
#u2006 {
  position:absolute;
  left:2px;
  top:632px;
  width:602px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2007_div {
  position:absolute;
  left:0px;
  top:0px;
  width:548px;
  height:973px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:48px;
  color:#F2F2F2;
}
#u2007 {
  position:absolute;
  left:189px;
  top:347px;
  width:548px;
  height:973px;
  font-size:48px;
  color:#F2F2F2;
}
#u2008 {
  position:absolute;
  left:2px;
  top:478px;
  width:544px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2009_div {
  position:absolute;
  left:0px;
  top:0px;
  width:548px;
  height:84px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2009 {
  position:absolute;
  left:189px;
  top:346px;
  width:548px;
  height:84px;
}
#u2010 {
  position:absolute;
  left:2px;
  top:34px;
  width:544px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2011_div {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:47px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:60px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  color:#666666;
}
#u2011 {
  position:absolute;
  left:588px;
  top:363px;
  width:131px;
  height:47px;
  font-size:28px;
  color:#666666;
}
#u2012 {
  position:absolute;
  left:2px;
  top:16px;
  width:127px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2013_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:27px;
}
#u2013 {
  position:absolute;
  left:673px;
  top:374px;
  width:27px;
  height:27px;
}
#u2014 {
  position:absolute;
  left:2px;
  top:6px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2015_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u2015 {
  position:absolute;
  left:609px;
  top:383px;
  width:10px;
  height:10px;
}
#u2016 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2017_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u2017 {
  position:absolute;
  left:639px;
  top:383px;
  width:10px;
  height:10px;
}
#u2018 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2019_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:13px;
}
#u2019 {
  position:absolute;
  left:623px;
  top:381px;
  width:13px;
  height:13px;
}
#u2020 {
  position:absolute;
  left:2px;
  top:-2px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2021_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:17px;
}
#u2021 {
  position:absolute;
  left:678px;
  top:379px;
  width:17px;
  height:17px;
}
#u2022 {
  position:absolute;
  left:2px;
  top:0px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2023_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u2023 {
  position:absolute;
  left:430px;
  top:370px;
  width:57px;
  height:33px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u2024 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u2025_div {
  position:absolute;
  left:0px;
  top:0px;
  width:272px;
  height:58px;
  background:inherit;
  background-color:rgba(188, 188, 188, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u2025 {
  position:absolute;
  left:447px;
  top:432px;
  width:272px;
  height:58px;
  font-size:20px;
}
#u2026 {
  position:absolute;
  left:2px;
  top:17px;
  width:268px;
  word-wrap:break-word;
}
#u2027_div {
  position:absolute;
  left:0px;
  top:0px;
  width:277px;
  height:58px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u2027 {
  position:absolute;
  left:208px;
  top:432px;
  width:277px;
  height:58px;
  font-size:20px;
}
#u2028 {
  position:absolute;
  left:2px;
  top:17px;
  width:273px;
  word-wrap:break-word;
}
#u2029_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:134px;
  background:inherit;
  background-color:rgba(134, 134, 134, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
}
#u2029 {
  position:absolute;
  left:209px;
  top:505px;
  width:113px;
  height:134px;
  font-size:20px;
  color:#FFFFFF;
}
#u2030 {
  position:absolute;
  left:2px;
  top:55px;
  width:109px;
  word-wrap:break-word;
}
#u2031_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:134px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u2031 {
  position:absolute;
  left:343px;
  top:505px;
  width:113px;
  height:134px;
  font-size:20px;
}
#u2032 {
  position:absolute;
  left:2px;
  top:55px;
  width:109px;
  word-wrap:break-word;
}
#u2033_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:134px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u2033 {
  position:absolute;
  left:469px;
  top:653px;
  width:113px;
  height:134px;
  font-size:20px;
}
#u2034 {
  position:absolute;
  left:2px;
  top:55px;
  width:109px;
  word-wrap:break-word;
}
#u2035_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:134px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u2035 {
  position:absolute;
  left:601px;
  top:505px;
  width:113px;
  height:134px;
  font-size:20px;
}
#u2036 {
  position:absolute;
  left:2px;
  top:55px;
  width:109px;
  word-wrap:break-word;
}
#u2037_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:134px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u2037 {
  position:absolute;
  left:209px;
  top:653px;
  width:113px;
  height:134px;
  font-size:20px;
}
#u2038 {
  position:absolute;
  left:2px;
  top:55px;
  width:109px;
  word-wrap:break-word;
}
#u2039_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:134px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u2039 {
  position:absolute;
  left:343px;
  top:653px;
  width:113px;
  height:134px;
  font-size:20px;
}
#u2040 {
  position:absolute;
  left:2px;
  top:55px;
  width:109px;
  word-wrap:break-word;
}
#u2041_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:134px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u2041 {
  position:absolute;
  left:470px;
  top:505px;
  width:113px;
  height:134px;
  font-size:20px;
}
#u2042 {
  position:absolute;
  left:2px;
  top:55px;
  width:109px;
  word-wrap:break-word;
}
#u2043_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:134px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u2043 {
  position:absolute;
  left:601px;
  top:653px;
  width:113px;
  height:134px;
  font-size:20px;
}
#u2044 {
  position:absolute;
  left:2px;
  top:55px;
  width:109px;
  word-wrap:break-word;
}
#u2045_div {
  position:absolute;
  left:0px;
  top:0px;
  width:548px;
  height:185px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2045 {
  position:absolute;
  left:189px;
  top:824px;
  width:548px;
  height:185px;
}
#u2046 {
  position:absolute;
  left:2px;
  top:84px;
  width:544px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2047_div {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2047 {
  position:absolute;
  left:571px;
  top:853px;
  width:114px;
  height:37px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2048 {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  white-space:nowrap;
}
#u2049_div {
  position:absolute;
  left:0px;
  top:0px;
  width:473px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#AEAEAE;
  text-align:left;
}
#u2049 {
  position:absolute;
  left:224px;
  top:946px;
  width:473px;
  height:45px;
  font-size:20px;
  color:#AEAEAE;
  text-align:left;
}
#u2050 {
  position:absolute;
  left:2px;
  top:10px;
  width:469px;
  word-wrap:break-word;
}
#u2051_img {
  position:absolute;
  left:0px;
  top:0px;
  width:479px;
  height:2px;
}
#u2051 {
  position:absolute;
  left:224px;
  top:925px;
  width:478px;
  height:1px;
}
#u2052 {
  position:absolute;
  left:2px;
  top:-8px;
  width:474px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2053_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:39px;
}
#u2053 {
  position:absolute;
  left:235px;
  top:854px;
  width:33px;
  height:39px;
}
#u2054 {
  position:absolute;
  left:2px;
  top:12px;
  width:29px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2055_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:24px;
}
#u2055 {
  position:absolute;
  left:287px;
  top:858px;
  width:49px;
  height:28px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:24px;
}
#u2056 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u2057_div {
  position:absolute;
  left:0px;
  top:0px;
  width:479px;
  height:64px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:24px;
  color:#FFFFFF;
}
#u2057 {
  position:absolute;
  left:218px;
  top:1053px;
  width:479px;
  height:64px;
  font-size:24px;
  color:#FFFFFF;
}
#u2058 {
  position:absolute;
  left:2px;
  top:18px;
  width:475px;
  word-wrap:break-word;
}
#u2059_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:24px;
}
#u2059 {
  position:absolute;
  left:1931px;
  top:1040px;
  width:120px;
  height:32px;
  font-size:24px;
}
#u2060 {
  position:absolute;
  left:2px;
  top:2px;
  width:116px;
  word-wrap:break-word;
}
#u2061_div {
  position:absolute;
  left:0px;
  top:0px;
  width:272px;
  height:58px;
  background:inherit;
  background-color:rgba(188, 188, 188, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u2061 {
  position:absolute;
  left:1777px;
  top:432px;
  width:272px;
  height:58px;
  font-size:20px;
}
#u2062 {
  position:absolute;
  left:2px;
  top:17px;
  width:268px;
  word-wrap:break-word;
}
#u2063_div {
  position:absolute;
  left:0px;
  top:0px;
  width:277px;
  height:58px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u2063 {
  position:absolute;
  left:1524px;
  top:432px;
  width:277px;
  height:58px;
  font-size:20px;
}
#u2064 {
  position:absolute;
  left:2px;
  top:17px;
  width:273px;
  word-wrap:break-word;
}
#u2065_div {
  position:absolute;
  left:0px;
  top:0px;
  width:548px;
  height:185px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2065 {
  position:absolute;
  left:1519px;
  top:832px;
  width:548px;
  height:185px;
}
#u2066 {
  position:absolute;
  left:2px;
  top:84px;
  width:544px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2067_div {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2067 {
  position:absolute;
  left:1901px;
  top:861px;
  width:114px;
  height:37px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2068 {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  white-space:nowrap;
}
#u2069_div {
  position:absolute;
  left:0px;
  top:0px;
  width:473px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#AEAEAE;
  text-align:left;
}
#u2069 {
  position:absolute;
  left:1554px;
  top:954px;
  width:473px;
  height:45px;
  font-size:20px;
  color:#AEAEAE;
  text-align:left;
}
#u2070 {
  position:absolute;
  left:2px;
  top:10px;
  width:469px;
  word-wrap:break-word;
}
#u2071_img {
  position:absolute;
  left:0px;
  top:0px;
  width:479px;
  height:2px;
}
#u2071 {
  position:absolute;
  left:1554px;
  top:933px;
  width:478px;
  height:1px;
}
#u2072 {
  position:absolute;
  left:2px;
  top:-8px;
  width:474px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2073_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:39px;
}
#u2073 {
  position:absolute;
  left:1565px;
  top:862px;
  width:33px;
  height:39px;
}
#u2074 {
  position:absolute;
  left:2px;
  top:12px;
  width:29px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2075_div {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:24px;
}
#u2075 {
  position:absolute;
  left:1617px;
  top:866px;
  width:101px;
  height:28px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:24px;
}
#u2076 {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  white-space:nowrap;
}
#u2077_div {
  position:absolute;
  left:0px;
  top:0px;
  width:548px;
  height:185px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2077 {
  position:absolute;
  left:2186px;
  top:749px;
  width:548px;
  height:185px;
}
#u2078 {
  position:absolute;
  left:2px;
  top:84px;
  width:544px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2079_div {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2079 {
  position:absolute;
  left:2568px;
  top:778px;
  width:114px;
  height:37px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2080 {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  white-space:nowrap;
}
#u2081_div {
  position:absolute;
  left:0px;
  top:0px;
  width:473px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#AEAEAE;
  text-align:left;
}
#u2081 {
  position:absolute;
  left:2221px;
  top:871px;
  width:473px;
  height:45px;
  font-size:20px;
  color:#AEAEAE;
  text-align:left;
}
#u2082 {
  position:absolute;
  left:2px;
  top:10px;
  width:469px;
  word-wrap:break-word;
}
#u2083_img {
  position:absolute;
  left:0px;
  top:0px;
  width:479px;
  height:2px;
}
#u2083 {
  position:absolute;
  left:2221px;
  top:850px;
  width:478px;
  height:1px;
}
#u2084 {
  position:absolute;
  left:2px;
  top:-8px;
  width:474px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2085_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:39px;
}
#u2085 {
  position:absolute;
  left:2232px;
  top:779px;
  width:33px;
  height:39px;
}
#u2086 {
  position:absolute;
  left:2px;
  top:12px;
  width:29px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2087_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:24px;
}
#u2087 {
  position:absolute;
  left:2284px;
  top:783px;
  width:49px;
  height:28px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:24px;
}
#u2088 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u2089_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:24px;
}
#u2089 {
  position:absolute;
  left:1530px;
  top:1039px;
  width:120px;
  height:32px;
  font-size:24px;
}
#u2090 {
  position:absolute;
  left:2px;
  top:2px;
  width:116px;
  word-wrap:break-word;
}
#u2091_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:24px;
}
#u2091 {
  position:absolute;
  left:208px;
  top:375px;
  width:14px;
  height:24px;
}
#u2092 {
  position:absolute;
  left:2px;
  top:4px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2093_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:24px;
}
#u2093 {
  position:absolute;
  left:874px;
  top:377px;
  width:14px;
  height:24px;
}
#u2094 {
  position:absolute;
  left:2px;
  top:4px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2095_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:24px;
}
#u2095 {
  position:absolute;
  left:1538px;
  top:376px;
  width:14px;
  height:24px;
}
#u2096 {
  position:absolute;
  left:2px;
  top:4px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2097_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:24px;
}
#u2097 {
  position:absolute;
  left:2205px;
  top:374px;
  width:14px;
  height:24px;
}
#u2098 {
  position:absolute;
  left:2px;
  top:4px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2099_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:134px;
  background:inherit;
  background-color:rgba(134, 134, 134, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
}
#u2099 {
  position:absolute;
  left:874px;
  top:505px;
  width:113px;
  height:134px;
  font-size:20px;
  color:#FFFFFF;
}
#u2100 {
  position:absolute;
  left:2px;
  top:55px;
  width:109px;
  word-wrap:break-word;
}
#u2101_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:134px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u2101 {
  position:absolute;
  left:1008px;
  top:505px;
  width:113px;
  height:134px;
  font-size:20px;
}
#u2102 {
  position:absolute;
  left:2px;
  top:55px;
  width:109px;
  word-wrap:break-word;
}
#u2103_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:134px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u2103 {
  position:absolute;
  left:1134px;
  top:653px;
  width:113px;
  height:134px;
  font-size:20px;
}
#u2104 {
  position:absolute;
  left:2px;
  top:55px;
  width:109px;
  word-wrap:break-word;
}
#u2105_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:134px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u2105 {
  position:absolute;
  left:1266px;
  top:505px;
  width:113px;
  height:134px;
  font-size:20px;
}
#u2106 {
  position:absolute;
  left:2px;
  top:55px;
  width:109px;
  word-wrap:break-word;
}
#u2107_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:134px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u2107 {
  position:absolute;
  left:874px;
  top:653px;
  width:113px;
  height:134px;
  font-size:20px;
}
#u2108 {
  position:absolute;
  left:2px;
  top:55px;
  width:109px;
  word-wrap:break-word;
}
#u2109_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:134px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u2109 {
  position:absolute;
  left:1008px;
  top:653px;
  width:113px;
  height:134px;
  font-size:20px;
}
#u2110 {
  position:absolute;
  left:2px;
  top:55px;
  width:109px;
  word-wrap:break-word;
}
#u2111_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:134px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u2111 {
  position:absolute;
  left:1135px;
  top:505px;
  width:113px;
  height:134px;
  font-size:20px;
}
#u2112 {
  position:absolute;
  left:2px;
  top:55px;
  width:109px;
  word-wrap:break-word;
}
#u2113_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:134px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u2113 {
  position:absolute;
  left:1266px;
  top:653px;
  width:113px;
  height:134px;
  font-size:20px;
}
#u2114 {
  position:absolute;
  left:2px;
  top:55px;
  width:109px;
  word-wrap:break-word;
}
#u2115_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:134px;
  background:inherit;
  background-color:rgba(134, 134, 134, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
}
#u2115 {
  position:absolute;
  left:1541px;
  top:508px;
  width:113px;
  height:134px;
  font-size:20px;
  color:#FFFFFF;
}
#u2116 {
  position:absolute;
  left:2px;
  top:55px;
  width:109px;
  word-wrap:break-word;
}
#u2117_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:134px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u2117 {
  position:absolute;
  left:1675px;
  top:508px;
  width:113px;
  height:134px;
  font-size:20px;
}
#u2118 {
  position:absolute;
  left:2px;
  top:55px;
  width:109px;
  word-wrap:break-word;
}
#u2119_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:134px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u2119 {
  position:absolute;
  left:1801px;
  top:656px;
  width:113px;
  height:134px;
  font-size:20px;
}
#u2120 {
  position:absolute;
  left:2px;
  top:55px;
  width:109px;
  word-wrap:break-word;
}
#u2121_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:134px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u2121 {
  position:absolute;
  left:1933px;
  top:508px;
  width:113px;
  height:134px;
  font-size:20px;
}
#u2122 {
  position:absolute;
  left:2px;
  top:55px;
  width:109px;
  word-wrap:break-word;
}
#u2123_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:134px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u2123 {
  position:absolute;
  left:1541px;
  top:656px;
  width:113px;
  height:134px;
  font-size:20px;
}
#u2124 {
  position:absolute;
  left:2px;
  top:55px;
  width:109px;
  word-wrap:break-word;
}
#u2125_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:134px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u2125 {
  position:absolute;
  left:1675px;
  top:656px;
  width:113px;
  height:134px;
  font-size:20px;
}
#u2126 {
  position:absolute;
  left:2px;
  top:55px;
  width:109px;
  word-wrap:break-word;
}
#u2127_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:134px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u2127 {
  position:absolute;
  left:1802px;
  top:508px;
  width:113px;
  height:134px;
  font-size:20px;
}
#u2128 {
  position:absolute;
  left:2px;
  top:55px;
  width:109px;
  word-wrap:break-word;
}
#u2129_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:134px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u2129 {
  position:absolute;
  left:1933px;
  top:656px;
  width:113px;
  height:134px;
  font-size:20px;
}
#u2130 {
  position:absolute;
  left:2px;
  top:55px;
  width:109px;
  word-wrap:break-word;
}
#u2131_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:134px;
  background:inherit;
  background-color:rgba(134, 134, 134, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
}
#u2131 {
  position:absolute;
  left:2208px;
  top:436px;
  width:113px;
  height:134px;
  font-size:20px;
  color:#FFFFFF;
}
#u2132 {
  position:absolute;
  left:2px;
  top:55px;
  width:109px;
  word-wrap:break-word;
}
#u2133_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:134px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u2133 {
  position:absolute;
  left:2342px;
  top:436px;
  width:113px;
  height:134px;
  font-size:20px;
}
#u2134 {
  position:absolute;
  left:2px;
  top:55px;
  width:109px;
  word-wrap:break-word;
}
#u2135_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:134px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u2135 {
  position:absolute;
  left:2468px;
  top:584px;
  width:113px;
  height:134px;
  font-size:20px;
}
#u2136 {
  position:absolute;
  left:2px;
  top:55px;
  width:109px;
  word-wrap:break-word;
}
#u2137_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:134px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u2137 {
  position:absolute;
  left:2600px;
  top:436px;
  width:113px;
  height:134px;
  font-size:20px;
}
#u2138 {
  position:absolute;
  left:2px;
  top:55px;
  width:109px;
  word-wrap:break-word;
}
#u2139_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:134px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u2139 {
  position:absolute;
  left:2208px;
  top:584px;
  width:113px;
  height:134px;
  font-size:20px;
}
#u2140 {
  position:absolute;
  left:2px;
  top:55px;
  width:109px;
  word-wrap:break-word;
}
#u2141_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:134px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u2141 {
  position:absolute;
  left:2342px;
  top:584px;
  width:113px;
  height:134px;
  font-size:20px;
}
#u2142 {
  position:absolute;
  left:2px;
  top:55px;
  width:109px;
  word-wrap:break-word;
}
#u2143_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:134px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u2143 {
  position:absolute;
  left:2469px;
  top:436px;
  width:113px;
  height:134px;
  font-size:20px;
}
#u2144 {
  position:absolute;
  left:2px;
  top:55px;
  width:109px;
  word-wrap:break-word;
}
#u2145_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:134px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u2145 {
  position:absolute;
  left:2600px;
  top:584px;
  width:113px;
  height:134px;
  font-size:20px;
}
#u2146 {
  position:absolute;
  left:2px;
  top:55px;
  width:109px;
  word-wrap:break-word;
}
